.dn{
    position: relative;
    overflow: hidden;
    z-index: 0;
    height: 845px;
}

#back-dn{
    position: absolute;
    height: 1200px;
    left: 600px;
}

.container-dn{
    position: absolute;
    right: calc(20px + 1vw);
    top: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: calc(8px + 40vw);
}

.container-dn .title{
    font-family: "Poppins", sans-serif;
    font-size: 28px;
}

.highlight{
    color: #bb0302;
}

.container-dn p{
    display: flex;
    font-size: calc(8px + 1vw);
    margin-top: calc(20px + 0.8vw);
    font-family: "Tilt Neon", sans-serif;
}

@media (min-width: 576px) { 
    .container-dn .title{
        font-size: 36px;
    }

    .container-dn p{
        font-size: calc(12px + 0.8vw);
        margin-top: calc(10px + 0.8vw);
    }

    .container-dn{
        width: calc(220px + 20vw);
        right: calc(8px + 4vw)
    }
}

 @media (min-width: 768px) {

    .container-dn .title{
        font-size: 44px;
    }

    .container-dn p{
        font-size: calc(14px + 0.8vw);
        margin-top: calc(10px + 0.8vw);
    }

    .container-dn{
        width: calc(380px + 20vw);
        right: calc(8px + 1vw)
    }
}

@media (min-width: 992px) {

    .container-dn .title{
        font-size: 44px;
    }

    .container-dn p{
        font-size: calc(14px + 0.8vw);
        margin-top: calc(10px + 0.8vw);
    }

    .container-dn{
        width: calc(380px + 20vw);
        right: calc(8px + 1vw)
    }
}

@media (min-width: 1200px) {
    
    .container-dn .title{
        font-size: 44px;
    }

    .container-dn p{
        font-size: calc(14px + 0.8vw);
        margin-top: calc(20px + 0.8vw);
    }

    .container-dn{
        width: calc(420px + 20vw);
        right: calc(8px + 1vw)
    }
 }

 @media (min-width: 1400px){

    .container-dn .title{
        font-size: 44px;
    }

    .container-dn p{
        font-size: calc(12px + 0.8vw);
        margin-top: calc(20px + 0.8vw);
    }

    .container-dn{
        width: calc(600px + 20vw);
        right: calc(8px + 1vw)
    }
}