footer{
    text-align: center;
    background-color: #8f0202;
    height: 400px;
    color: white;
    overflow: hidden;
}

footer p{
    margin-top: 20px;
}

.left-side{
    margin-top: 40px;
    float: left;
}

.right-side{
    float: right;
    margin: 20px auto;
}

@media (min-width: 768px) {
    footer{
        height: 260px;
    }
}

@media (min-width: 992px) {
    footer{
        height: 300px;
    }

    .foot-black{
        background-color: #610000;
        margin-top: 10px;
        padding: 20px 20px;
    }

    footer p{
        margin-top: 30px;
    }

    .left-side{
        margin-top: 20px;
    }
    
    .right-side{
        float: right;
        margin: 40px auto;
    }

    .foot-icon{
        margin-top: 20px;
    }
}