header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100px;
    z-index: 10;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-logo img{
    margin: 2px 0 0 10px;
    width: 100px;
}

.nav-list {
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    position: fixed;
    height: 100%;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 490px;
    transition: all 0.3s ease;
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;
    background-color: white; 
    padding-left: 0;
}

.nav-list.show {
    top: 76px;
}

.nav-list__element{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-list__element a {
    font-size: 12px;
    line-height: 80px;
    color: black;
    letter-spacing: 0.04em;
    display: block;
}

.nav-list__element a.hover{
    background: #bb0302;
    color: white;
}

.hamburger{
    position: absolute;
    top: 32px;
    right: 40px;
    display: block;
    cursor: pointer;
    color: black;
}

.hamburger.show .bar:nth-child(2){
    opacity: 0;
}

.hamburger.show .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.show .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: black;
}

.sticky{
    background-color: white;
}
@media (min-width: 1200px) { 
    
    .hamburger{
        display: none;
    }
    
    .nav-list {
        display: flex;
        border: none;
        height: 0;
        top: 0px;
        margin-top: 0px;
        left: 300px;
    }
    
    .nav-list__element{
        border: none;
        margin: 0;
    }
    
    .nav-list__element a{
        font-size: 22px; 
        padding: 10px 30px;
        height: 100px;  
    }

    .nav-list__element a.hover{
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .header-logo {
        margin-left: 40px;
        font-size: 20px;
    }
}

@media (min-width: 1400px) { 
    
    .nav-list {
        display: flex;
        border: none;
        height: 0;
        top: 0px;
        left: calc(-200px + 40vw);
    }
    
    .nav-list__element a {
        font-size: 22px;    
    }
    
    .header-logo {
        font-size: 20px;
    } 
}