#back-side-left{
    position: absolute;
    height: 1200px;
    width: 170px;
    left: 10px;
    z-index: -1;
    opacity: 0.2;
}

#back-side-right{
    position: absolute;
    height: 1200px;
    width: 170px;
    right: 10px;
    z-index: -1;
    opacity: 0.2;
}

.realizari {
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.list-realizari {
    margin-top: 60px;
}

.realizari li{
    margin: 10px 0;
    font-family: "Tilt Neon", sans-serif;
}

@media (min-width: 768px) {
    .realizari{
        height: 850px;
    }
}


@media (min-width: 1200px){

    .realizari li{
    font-size: 22px;
}

#back-side-left{
    width: 340px;
    opacity: 0.8;
}

#back-side-right{
    width: 340px;
    opacity: 0.8;
}

}

@media (min-width: 1400px){
    #back-side-left{
        opacity: 1;
    }
    
    #back-side-right{
        opacity: 1;
    }
}